/* Footer Styles */
.footer {
    /*background-color: #f8f9fa;*/
    background-color: #343a40;
    padding: 30px 0;
    color: #fff;
}

.footer-info h3 {
    /*color: #333;*/
    color: #fff;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

    .footer-links ul li {
        padding: 5px 0;
    }

        .footer-links ul li a {
            /*color: #666;*/
            color: #fff;
        }

.footer-contact p {
    /*color: #666;*/
    color: #fff;
}

.footer-social .social-links a {
    font-size: 20px;
    margin-right: 10px;
    /*color: #333;*/
    color: #fff;
}

    .footer-social .social-links a:hover {
        color: #007bff;
    }
.footer h4 {
    font-weight: normal;
}


.footer-bottom {
    background-color: #343a40;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
